@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
  font-family: "DM Sans", sans-serif;
  
}

body {
    margin: 0;
    padding: 0;
}

header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.site-nav {
     margin-top: 10px;
}
.site-nav ul {
    display: flex;
}

.site-nav ul li a {
    color: blue;
    text-decoration: none;
    /* margin-top:  10px
    margin-bottom:  20px
    margin right : 20px*/
    
    margin: 10px 20px;
    line-height: 2.2;
}
.site-nav ul li {
    list-style: none;

}
.btn{
    outline: none;
    box-shadow: none;
    background: #25DAC5;
    color: #fff;
    border: 1px solid rgb(146, 142, 142);
    padding: 5px 10px;
    border-radius: 10px;
}

.btn:hover{
    background: blue;
}
.logo{
    margin-top: 20px;
}

.eli {
    margin-top: 1.6rem;
    display: flex;
    gap: 40px;
}

.eli li {
    list-style: none;
}

.eli li a {
    text-decoration: none;
    color: blue;
}

.hero-section {
    text-align: center;
}

.hero-section h1 {
     color: #1E0E62;
     font-size: 50px;
}
.hero-section p {
    color: rgb(199, 194, 194);
    font-size: 15px;
}

form {
    padding-bottom: 30px;
}


.hero-btn {
    outline: none;
    box-shadow: none;
    background: #22cea3;
    color: #fff;
    border: 1px solid rgb(146, 142, 142);
    padding: 10px 30px;
    border-radius: 25px; 
    margin-top: 30px;
}


small {
    color: #22cea3;
}
.design-section h2 {
    text-align: center;
    color: #1E0E62;
    background: #fff;
    padding: 40px;
    padding-bottom: 20px;
    
}
.design-section {
    color: rgb(199, 194, 194);
    font-size: 18px;
    background: #fff;
    text-align: center;
    
}
.design-section p {
    font-size: 15px;
}
